setproctitle==1.2.2
colorama==0.4.6
psutil==7.0.0
verl==0.1
protobuf==6.31.0
httpx==0.28.1
tokenizers==0.21.1
nvidia-ml-py==12.575.51
idna==3.10
prometheus-fastapi-instrumentator==7.1.0
lark==1.2.2
platformdirs==4.3.8
tensordict==0.8.3
vllm==0.6.3
mistral_common==1.5.4
tqdm==4.67.1
smmap==5.0.2
networkx==3.2.1
xxhash==3.5.0
anyio==4.9.0
nvidia-cufft-cu12==11.0.2.54
lm-format-enforcer==0.10.6
starlette==0.46.2
charset-normalizer==3.4.2
llvmlite==0.43.0
click==8.1.8
nvidia-cuda-cupti-cu12==12.1.105
pillow==11.2.1
pybind11==2.13.6
sentencepiece==0.2.0
fsspec==2025.3.0
jiter==0.9.0
eval_type_backport==0.2.2
httptools==0.6.4
numba==0.60.0
transformers==4.47.1
partial-json-parser==0.2.1.1.post5
websockets==15.0.1
zipp==3.21.0
regex==2024.11.6
dill==0.3.8
pip==25.1
jsonschema==4.23.0
setuptools==78.1.1
aiohappyeyeballs==2.6.1
nvidia-curand-cu12==10.3.2.106
PyYAML==6.0.2
nvidia-cusparse-cu12==12.1.0.106
distro==1.9.0
interegular==0.3.3
wandb==0.19.11
attrs==25.3.0
requests==2.32.3
datasets==3.6.0
tiktoken==0.9.0
nvidia-cublas-cu12==12.1.3.1
rpds-py==0.25.0
wheel==0.45.1
typing-inspection==0.4.0
xformers==0.0.27.post2
torch==2.4.0
six==1.17.0
filelock==3.18.0
annotated-types==0.7.0
triton==3.0.0
yarl==1.20.0
nest-asyncio==1.6.0
accelerate==1.7.0
Jinja2==3.1.6
opencv-python-headless==4.11.0.86
mpmath==1.3.0
docker-pycreds==0.4.0
outlines==0.0.46
pyzmq==26.4.0
python-dateutil==2.9.0.post0
hydra-core==1.3.2
pyarrow==20.0.0
gguf==0.10.0
gitdb==4.0.12
referencing==0.36.2
pyairports==2.1.1
ray==2.46.0
sentry-sdk==2.28.0
exceptiongroup==1.3.0
codetiming==1.4.0
msgspec==0.19.0
uvloop==0.21.0
urllib3==2.4.0
serpapi==0.1.5
packaging==25.0
pycountry==24.6.1
orjson==3.10.18
verl==0.1
prometheus_client==0.21.1
frozenlist==1.6.0
cloudpickle==3.1.1
msgpack==1.1.0
nvidia-cusolver-cu12==11.4.5.107
diskcache==5.6.3
torchvision==0.19.0
numpy==1.26.4
watchfiles==1.0.5
uvicorn==0.34.2
safetensors==0.5.3
nvidia-cuda-nvrtc-cu12==12.1.105
GitPython==3.1.44
pydantic==2.11.4
pydantic_core==2.33.2
httpcore==1.0.9
nvidia-cudnn-cu12==9.1.0.70
setproctitle==1.3.6
multidict==6.4.3
nvidia-nvjitlink-cu12==12.9.41
propcache==0.3.1
nvidia-cuda-runtime-cu12==12.1.105
fastapi==0.115.12
jsonschema-specifications==2025.4.1
flash_attn==2.7.4.post1
tzdata==2025.2
sympy==1.14.0
pytz==2025.2
sniffio==1.3.1
nvidia-nccl-cu12==2.20.5
antlr4-python3-runtime==4.9.3
pandas==2.2.3
importlib_metadata==8.7.0
certifi==2025.4.26
multiprocess==0.70.16
einops==0.8.1
MarkupSafe==3.0.2
typing_extensions==4.13.2
h11==0.16.0
huggingface-hub==0.31.2
py-cpuinfo==9.0.0
nvidia-nvtx-cu12==12.1.105
async-timeout==5.0.1
psutil==7.0.0
aiohttp==3.11.18
omegaconf==2.3.0
aiosignal==1.3.2
python-dotenv==1.1.0
openai==1.78.1
verl==0.1
jaraco.context==5.3.0
zipp==3.19.2
importlib_metadata==8.0.0
jaraco.text==3.12.1
packaging==24.2
typing_extensions==4.12.2
jaraco.collections==5.1.0
tomli==2.0.1
wheel==0.45.1
platformdirs==4.2.2
autocommand==2.2.2
backports.tarfile==1.2.0
jaraco.functools==4.0.1
inflect==7.3.1
typeguard==4.3.0
more-itertools==10.3.0
